.question{
  min-height: 50px;
  display: flex;
  &__author,
  &__theme,
  &__count,
  &__tags {
    overflow: auto;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #FFCC66;
    border: 1px white solid;
  }
  &__author{
    width: 150px;
    cursor: pointer;
  }
  &__theme{
    width: 550px;
  }
  &__count{
    width: 110px;
  }
  &__tags{
    width: 450px;
  }
  &__tag{
    border-radius: 4px;
    padding: 1px 4px 1px 4px;
    margin: 0 2px;
    cursor: pointer;
    background-color: #c9c9c9;
  }
}