
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 200px;
}
.select select {
  font-family: 'Roboto';
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: none;
  border-radius: 0;
  background: #FF9933;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #000000 transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}