.title{
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: wheat;
  height: 200px;
  &__author{
    min-width: 100px;
    justify-content: center;

  }
  &__title{
    min-width: 100px;
    justify-content: center;

  }
  &__count{
    min-width: 100px;
    justify-content: center;

  }
  &__tags{
    min-width: 100px;
    justify-content: center;

  }
}
